.return-button {
  align-self: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  display: flex;
  font-size: 20px;
  gap: 10px;
  height: 70px;
  justify-content: center;
  width: 150px;
}

.search-bar {
  align-items: center;
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-flow: row;
  height: 70px;
  justify-content: space-between;
  padding: 0 20px;
  width: 50%;
}

.input-search {
  border: none;
  font-size: 20px;
  width: 100%;
}

.button-search{
  background-color: white;
  border: none;
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  width: 17%;
}

.users-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 5%;
  padding: 2%;
}

.pages-button {
  background-color: white;
  border-radius: 40px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 70px;
  width: 10%;
}

.pages-button button{
  background-color: white;
  border-radius: 40px;
  border: none;
  font-size: 25px;
  width: 50%;
}